

.button
{
    -fx-background-color: linear-gradient(#ffffff, #ebebeb);
    -transition: -fx-background-color 5s;

}
.customlabel
{
    -fx-background-color: WHITE;
    -fx-border-width: 1;
    -fx-border-color: rgba(0, 0, 0, 0.21);
}

.button:hover
{

    -fx-background-color: linear-gradient(#FFC39D, #ff8d7c);
}

.choiceboxcustom
{
    -fx-background-color: transparent;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

.cornerbuttoncustom
{
    -fx-background-color: transparent;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

.cornerbuttoncustom:hover
{
    -fx-background-color: linear-gradient(#FFC39D, #ff8d7c);
}



.choiceboxcustom:hover
{

    -fx-background-color: linear-gradient(#FFC39D, #ff8d7c);
}


.list-view
{
    -fx-border-color: #c9c9c9;
}

.list-cell
{
    -fx-cell-size: 30;
    -fx-font-size: 15;
}

.list-cell:even
{
    -fx-background-color: linear-gradient(#ffffff, #f7f7f7);
}

.list-cell:odd
{
    -fx-background-color: linear-gradient(#f0f0f0, #eeeeee);

}

.list-cell.text:hover
{
    -fx-text-fill: #ff0000;
}


.list-cell:filled:selected:focused
{
    -fx-background-color: linear-gradient(#0051ff, rgba(0, 18, 255, 0.64));
    -fx-text-fill: rgb(255, 255, 255);;
}



.list-cell:filled:hover
{
    -fx-background-color: linear-gradient(#FFC39D, #ff8d7c);
}