
@font-face {
    -fx-font-family: 'Raleway-Bold';
    src: url('resources/Raleway-Bold.ttf');
}

@font-face {
    -fx-font-family: 'Raleway';
    src: url('resources/Raleway-Thin.ttf');
}



.button
{
    -fx-background-color: linear-gradient(#ffffff, #ebebeb);
    -transition: -fx-background-color 5s;
    -fx-font-size: 15;
}

.button-delete
{
    -fx-background-color: linear-gradient(#ffffff, #ebebeb);
    -transition: -fx-background-color 5s;
    -fx-font-size: 24;
}


.text-field-custom
{
    -fx-font-size: 24;
}

.text
{
    -fx-font-family: "Raleway-Bold";
}
.customlabel
{
    -fx-font-family: "Raleway-Bold";
    -fx-font-size: 25;
    -fx-background-color: WHITE;
    -fx-border-width: 1;
    -fx-border-color: rgba(0, 0, 0, 0.21);
}

.button:hover
{
    -fx-background-color: linear-gradient(#FFC39D, #ff8d7c);
}
.button:pressed
{
    -fx-background-color: linear-gradient(#0051ff, rgba(0, 18, 255, 0.8));
}

.cornerbuttoncustom
{
    -fx-background-color: transparent;
}


.combo-box
{
    -fx-background-color: transparent;
}
.combo-box:hover
{
    -fx-background-color: linear-gradient(#FFC39D, #ff8d7c);
}
.combo-box:pressed
{
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(#0051ff, rgba(0, 18, 255, 0.8));
}
.combo-box-popup:selected
{
    -fx-text-fill: black;
    -fx-background-color: transparent;
}
.combo-box-popup .list-cell:selected
{
    -fx-text-fill: black;
    -fx-background-color: transparent;
}
.combo-box-base
{
    -fx-background-color: transparent;
}
.combo-box-popup .list-view .list-cell:odd
{
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(#f0f0f0, #eeeeee);
}
.combo-box-popup .list-view .list-cell:even
{
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(#ffffff, #f7f7f7);
}
.combo-box-popup .list-view .list-cell:hover
{
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(#FFC39D, #ff8d7c);
}


.combo-box-custom
{
    -fx-background-color: linear-gradient(#f0f0f0, #eeeeee);
}
.combo-box-custom:hover
{
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(#FFC39D, #ff8d7c);
}
.combo-box-custom-popup:selected
{
    -fx-text-fill: black;
    -fx-background-color: transparent;
}
.combo-box-custom-popup .list-cell:selected
{
    -fx-text-fill: black;
    -fx-background-color: transparent;
}
.combo-box-custom-base
{
    -fx-background-color: transparent;
}
.combo-box-custom-popup .list-view .list-cell:odd
{
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(#f0f0f0, #eeeeee);
}
.combo-box-custom-popup .list-view .list-cell:even
{
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(#ffffff, #f7f7f7);
}
.combo-box-custom-popup .list-view .list-cell:hover
{
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(#FFC39D, #ff8d7c);
}

.list-view
{
    -fx-text-fill: black;
    -fx-border-color: #c9c9c9;
}

.list-cell
{
    -fx-text-fill: black;
    -fx-font-family: "Raleway-Bold";
    -fx-cell-size: 40;
    -fx-font-size: 20;
}


.list-cell .text:hover
{
    -fx-fill: linear-gradient(#eeeeee, #c3c3c3);
    -fx-cursor: hand;
}

.list-cell:even
{
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(#ffffff, #f7f7f7);
}

.list-cell:odd
{
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(#f0f0f0, #eeeeee);
}


.list-cell:filled:selected:focused
{
    -fx-background-color: linear-gradient(#0051ff, rgba(0, 18, 255, 0.8));
    -fx-text-fill: rgb(255, 255, 255);
}

.list-cell:filled:hover
{
    -fx-background-color: linear-gradient(#FFC39D, #ff8d7c);
}

.text-field
{
    -fx-font-family: "Raleway-Bold";
}
.text-field .text
{
    -fx-font-size: 24;
}