

.button
{
    -fx-background-color: linear-gradient(#ffffff, #ebebeb);
    -transition: -fx-background-color 5s;

}
.label
{
    -fx-background-color: WHITE;
    -fx-border-width: 1;
    -fx-border-color: rgba(0, 0, 0, 0.21);
}

.button:hover
{
    -fx-scale-x: .95;
    -fx-scale-y: .95;
    -fx-background-color: linear-gradient(#FFC39D, #ff8d7c);
}

.choice-box
{
    -fx-background-color: linear-gradient(#ffffff, #ebebeb);
}

.choice-box:hover
{

    -fx-scale-x: .95;
    -fx-scale-y: .95;
    -fx-background-color: linear-gradient(#FFC39D, #ff8d7c);
    transition: all 1s ease;
}


.list-view
{
    -fx-border-color: #c9c9c9;
}

.list-cell
{
    -fx-cell-size: 30;
    -fx-font-size: 15;
}

.list-cell:odd
{
    -fx-background-color: rgba(255, 0, 208, 0);

}



.list-cell:filled:selected:focused
{
    -fx-background-color: linear-gradient(#0051ff, rgba(0, 18, 255, 0.64));
    -fx-text-fill: rgb(255, 255, 255);;
}



.list-cell:filled:hover
{
    -fx-background-color: linear-gradient(#FFC39D, #ff8d7c);
}