# Created by .ignore support plugin (hsz.mobi)
/FestivalConnection.iml
FestivalConnection.iml
src/META-INF/
.idea/dataSources/f4e4ce63-9a51-4b49-b91e-d5c8fe1841bf/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
out/
.idea/compiler.xml
